@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Roboto&family=Supermercado+One&display=swap');
:root {
  --clr-accent-fade: #3d75c9cb;
  --clr-accent: #3d75c9;

  --clr-light: #f1f1f1;
  
  --clr-dark: #2e323f;
  --clr-primary: #d0d3db;
  --clr-secondary: #bcc1cf;

  --foreground: var(--clr-dark);
  --background: var(--clr-light);

  --theme-icon: "☀";

  --inverted: none;

  --font-title: "Oswald", sans-serif;
  --font-text: 'Nunito Sans', sans-serif;
  --font-category:'Supermercado One', cursive;

  --padding-block-section: 1rem;
  --margin-top-element: 1em;

  --radius: 5px;

  --link-clr: #0000ee;
  --visited-clr: #6924aa4f;
}

* {
  font-family: var(--font-text);
}
.header {
  background-color: rgb(207, 207, 207) ;
  font-family: var(--font-title) !important;
  display: flex;
  flex-direction: row;
  
  // justify-content:space-between;
  // margin: 0 auto;
  // // width: 90%;
}
.searchDiv {
  display: flex;
  flex-direction: column;
  margin-left: 28%;
  text-align: center;
}
.searchBtnSection{
    margin-top: 5px;
}
.searchBtn{
    background-color: var(--clr-accent);
    border-radius: 5px;
    
}
// FOOTER
.footer {
  font-family: var(--font-text);
  background-color: rgb(207, 207, 207);
  padding: 1em;
  
  color: var(--foreground);
  text-align: center;
  display: flex;
  justify-content: center;
  position: fixed;
  padding: 0px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  /* Height of the footer*/
  height: 50px;
  opacity: 0.9;
}
.copyright {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  align-items: center;
}
.copyright-link {
  color: inherit;
  display: flex;
  gap: 0.5em;
  text-decoration: underline;
  align-items: center;
}
.copyright-link:hover,
.copyright-link:focus {
  opacity: 0.75;
}
.github-img {
  width: 1.5em;
  filter: var(--inverted);
}
// FOOTER END

// PASTELIST
.pasteList {
    // overflow:scroll;
    // scroll-behavior: smooth;
    
    overflow:hidden;
    border: 1px solid black;
    margin: 5px auto 60px auto;
    width: 90%;
    max-width: 1200px;
    border-radius: var(--radius);
    background-color: var(--background);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}
.pasteBox{
    border: 1px solid black;
    margin: 3px 10px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
     overflow-wrap: break-word;
}
.pasteBoxBottom{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  background-color: rgb(207, 207, 207);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 5px;
}
.category{
  border: 1px solid black;
  border-radius: 3px;
  padding: 3px;
  font-family: var(--font-category);
}


// PAGINATION
.paginationBtn{
  display: flex;
  flex-direction: row;
  
  justify-content: space-between;
  
}
.pageBtn{
  padding: 2px;
  border-radius: 2px;
  // border: 1px solid rgb(233, 233, 233);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background-color: rgb(255, 255, 255);
  border: 1px solid var(--clr-accent-fade) ;
  cursor: pointer;
  
}
.previousBtn{
  padding: 2px;
  border-radius: 2px;
  border: 1px solid rgb(95, 95, 95);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  cursor: pointer;
}
.nextBtn{
  padding: 4px;
  border-radius: 2px;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  cursor: pointer;
}
.paginationDisabled{
  // background-color: var(--visited-clr);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 2px;
}
.paginationActive{
  padding: 6px;
  background-color: var(--clr-accent-fade);
  border: 1px solid rgb(255, 255, 255);
}


// STATS
.dashboardDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.doughnutDiv{
  width: 30%;
  
}
.barChartDiv{
  width: 48%;
}