

:root {
  --clr-accent: #3d75c9;

  --clr-light: #f1f1f1;
  
  --clr-dark: #2e323f;
  --clr-primary: #d0d3db;
  --clr-secondary: #bcc1cf;

  --foreground: var(--clr-dark);
  --background: var(--clr-light);

  --theme-icon: "☀";

  --inverted: none;

  --font-title: "Oswald", sans-serif;
  --font-text: "Montserrat", sans-serif;

  --padding-block-section: 1rem;
  --margin-top-element: 1em;

  --radius: 5px;

  --link-clr: #0000ee;
  --visited-clr: #551a8b;
}

* {
  font-family: var(--font-text);
}
.header {
  background-color: var(--background) ;
  font-family: var(--font-title) !important;
  display: flex;
  flex-direction: row;
  
  // justify-content:space-between;
  // margin: 0 auto;
  // // width: 90%;
}
.searchDiv {
  display: flex;
  flex-direction: column;
  margin-left: 28%;
  text-align: center;
}
.searchBtnSection{
    margin-top: 5px;
}
.searchBtn{
    background-color: var(--clr-accent);
    border-radius: 5px;
    
}
// FOOTER
.footer {
  font-family: var(--font-text);
  background-color: var(--background);
  padding: 1em;
  color: var(--foreground);
  text-align: center;
  display: flex;
  justify-content: center;
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  /* Height of the footer*/
  height: 60px;
}
.copyright {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  align-items: center;
}
.copyright-link {
  color: inherit;
  display: flex;
  gap: 0.5em;
  text-decoration: underline;
  align-items: center;
}
.copyright-link:hover,
.copyright-link:focus {
  opacity: 0.75;
}
.github-img {
  width: 1.5em;
  filter: var(--inverted);
}
// FOOTER END

// PASTELIST
.pasteList {
    // overflow:scroll;
    // scroll-behavior: smooth;
    
    overflow:hidden;
    border: 1px solid black;
    margin: 5px auto;
    width: 90%;
    max-width: 1200px;
    border-radius: var(--radius);
    background-color: var(--background);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.pasteBox{
    border: 1px solid black;
    margin: 3px 10px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}